<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rides">Search Available Rides</a></li> 
        <li><a href="/auth/login">Log In</a></li>
        <li><a href="/auth/signup">Sign Up to Offer Rides</a></li>
    </ul>
</nav>
<hr> 

